<% provide(:title, @user.name) %>
<div class="container">
    <div class="row">
        <div class="col-sm-2 col-md-2">
          <%= gravatar_for @user %>
        </div>
        <div class="col-sm-4 col-md-4">
          <ul>
            <h4><span class="glyphicon glyphicon-user"></span> 名前: <%= @user.name %></h4>
            <h4><span class="glyphicon glyphicon-envelope"></span> 連絡先: <%= @user.email %></h4>
            <h4><span class="glyphicon glyphicon-tags"></span> 
            所属:
             <% if current_user.groups.count > 0 %> 
              <%= current_user.groups.first.name %>
              <% else %>
                まだ所属しておりません。
              <% end %> 
            </h4>
               
          </ul>
        </div>
        <div class="col-sm-12">
        <h3 class="subtitle">カレンダー</h3>
        <%= week_calendar(number_of_weeks: 2, events: @allpost) do |date, usermicroposts| %>
          <%= date.strftime("%d") %>
          <% usermicroposts.each do |usermicropost| %>
            <div>
              <%= link_to usermicropost.title, micropost_path %>
            </div>
          <% end %>
        <% end %>
        </div>
        <div class="col-md-12">
        　<h3 class="subtitle">これまでの日報 (<%= @user.microposts.count %>)</h3>
          <% if @user.microposts.any? %>
            <ol class="microposts">
              <%= render @microposts %>
            </ol>
            <%= will_paginate @microposts%>
          <% end %>  
        </div>
    </div>
</div>
    
  