<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Daily Work Report</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>    
  </head>
  <body>
    <section>
      <%= render 'layouts/header' %>
      <div class="container main_body" style="margin: 30px;">
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>  
        <%= yield %>
        <%= debug(params) if Rails.env.development? %>
      </div>
    </section>
    <footer>
      <%= render 'layouts/footer' %> 
    </footer>
</html>
